extends layout

block content
  h1= title
  h2=title1
  p atan2 applied to #{swarna1} is #{swarna1}
  h2=title2
  p atanh applied to #{swarna1},#{swarna2} is #{latha2}
  h2=title1
  p cbrt applied to #{swarna1} is #{latha3}